In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## Importing Libraries

In [2]:
## Loading Libraries

import sqlite3
from sqlite3 import Error
import pandas as pd

## Creating database connection

In [296]:
## Function for creating database connection
def create_connection(db_file):
    """ 
    create a database connection to the SQLite database specified by the db_file
    
    param db_file: database file
    return: Connection object or None
    
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn


database = "funnel.db"
conn = create_connection(database)

## Loading data from database to dataframe

In [297]:
query_1 = "SELECT * FROM profile_applications"
profile_applications = pd.read_sql(query_1, conn)

query_2 = "SELECT * FROM profile_enrollments"
profile_enrollments = pd.read_sql(query_2, conn)

query_3 = "SELECT * FROM student_profiles"
student_profiles = pd.read_sql(query_3, conn)

In [298]:
print(profile_applications.shape)
print(profile_enrollments.shape)
print(student_profiles.shape)

(3207, 3)
(1877, 3)
(36341, 9)

In [12]:
student_profiles.head()

,profile_id,school,course_name,country,os_name,experience,lead_initiated,undergrad_grade_points,is_test
0,757350438217,School B,Marketing,Rohan,,< 5 years,false,89,false
1,173847491575,School B,VR,Arcadia,android,5-10 Years,false,98,false
2,875719666990,School A,Design,Kyrat,,5-10 Years,false,88,true
3,437402894223,School A,Design,Rohan,,5-10 Years,false,89,false
4,186283660042,School B,Design,Hyrule,,5-10 Years,false,90,false