In [1]:
import pandas as pd

In [2]:
## Train Data
train_details = {
    'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'],
    'Age' : [23, 21, 22, 21],
    'University' : ['BHU', 'JNU', 'DU', 'BHU'],
}
  
# creating a Dataframe object 
df_train = pd.DataFrame(train_details)
df_train

        Name  Age University
0      Ankit   23        BHU
1  Aishwarya   21        JNU
2    Shaurya   22         DU
3   Shivangi   21        BHU

In [3]:
## Test Data
test_details = {
    'Name' : ['Ajay', 'Amit', 'Rajesh', 'Rashmi'],
    'Age' : [20, 21, 22, 23],
    'University' : ['BHU', 'DU', 'DU', 'BHU'],
}
  
# creating a Dataframe object 
df_test = pd.DataFrame(test_details)
df_test

     Name  Age University
0    Ajay   20        BHU
1    Amit   21         DU
2  Rajesh   22         DU
3  Rashmi   23        BHU

## One-Hot Encoding Using "sklearn.feature_extraction.DictVectorizer"

In [4]:
from sklearn.feature_extraction import DictVectorizer

dict_vectorizer = DictVectorizer()
train_university_one_hot_encoding = dict_vectorizer.fit_transform(df_train['University'].to_dict())

train_university_one_hot_encoding

<1x4 sparse matrix of type '<class 'numpy.float64'>'
	with 4 stored elements in Compressed Sparse Row format>

In [5]:
dict_vectorizer.feature_names_

['0=BHU', '1=JNU', '2=DU', '3=BHU']

In [6]:
## On Test Data

test_university_one_hot_encoding = dict_vectorizer.transform(df_test['University'].to_dict())
test_university_one_hot_encoding

<1x4 sparse matrix of type '<class 'numpy.float64'>'
	with 3 stored elements in Compressed Sparse Row format>